<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sq.mapper.ArticleMapper">

    <select id="selectByTitle" resultType="Article">
        select  * from sq_article
        <where>
            1=1
            <if test="Arttitle!=null and Arttitle!=''">
                and Arttitle like concat('%',concat(#{Arttitle},'%'))
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>





</mapper>